<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<h1 class="bold">All About Us</h1>
			<div class="headerdivider"></div>
		   </div><!--/col-md-12-->

		<div class="col-md-6">
      <div class="titleborder">
        <h4>What We Do</h4>
      </div>
      <p>PartnerShip Share ‘Merthyr’ Limited is a new innovative Specialist Autism Service, designed specifically to support adults with learning Disability, Challenging Behaviour, Fragile X, Autism and Asperger’s Syndrome, Early Onset Dementia, Mental Health and or associated complex conditions, by the provision of support to access services such as;</p>
    	<ul class="info">
      	<li>Housing</li>
      	<li>Finance/Welfare Benefits</li>
      	<li>Education/Training Opportunities</li>
      	<li>Employment</li>
        <li>Sports, hobbies & Interests</li>
        <li>Daily Living Skills Training Plan</li>
    	</ul>

    	<p>And a range of other community based activities promoting social inclusion.</p>

      <p>We have a district wide remit due to increasing demands from parents and carers of people with Autism and Asperger’s Syndrome. Our highly trained staff team provide essential information and support to service-user’s, carers, parents, care-managers,  health professionals and associated others, we succeed where ‘Traditional Services’ fail-</p>

      <p>We aim to:</p>

    	<ul class="info">
      	<li>Empower and enable vulnerable adults to lead a more independent lifestyle and integrate them into their local community</li>
      	<li>Increase self-confidence, social and interpersonal skills</li>
      	<li>Increase opportunities for training and work placements leading to meaningful employment</li>
      	<li>Strengthen our services in order to ensure that we are an effective community organisation</li>
      	<li>Work as part of a Multi-Disciplinary Team sharing information</li>
      	<li>Encourage meaningful engagement and social inclusion</li>
    	</ul>

    </div>

    <div class="col-md-6">
      <div class="titleborder">
        <h4>Our Employees</h4>
      </div>

      <p>All of our employees have the experience, qualifications and specialised knowledge to enable them to fully understand and support individuals with complex care and support needs. Our employees receive appropriate training which is not regarded as ‘essential’ or made available in other traditional domiciliary care services.</p>

      <p>We are a, 'user-led' service which aims to address the inequalities of services identified by our service-users, parents and carers and other associated persons.</p>

      <p>The anxieties of individuals with complex care needs can manifest themselves in a variety of ways, such as, challenging and inappropriate or anti-social behaviours, together with a general lack of awareness within society can result in exclusion from many traditional service and opportunities. We aim to widen access to further education, placement & training, work opportunities and social activities for a marginalised group of individual, who have not in the past been able to take advantage of conventional services.</p>

      <p>We offer the chance for vulnerable young adults to gain the confidence and skills to engage or re-engage with community living. We offer;</p>

      <p><span class="bold">Specific Learning Programmes –</span> We design and implement a structured programme of creative, vocational and life skills opportunities, tailored to the specific needs of the service-user, centred on essential social skills training</p>

      <p><span class="bold">Outreach Support –</span> Our Outreach Service provides a bespoke package of support on a day to day basis both within the individual’s own environment and within the local community.</p>

      <p>We are a unique, innovative, bespoke service for adults 18 + who have complex care and support needs. We provide the highest quality of support whilst offering the person an individually tailored package which meets their identified needs through a unified assessment.
      Our research into ‘Generic’, Domiciliary Support Services, found that those client’s who have complex care & support needs, that have previously received support from a traditional home care service, has resulted in their ‘specialist’ needs being unobserved and their care & support packages ‘breaking down’ due to staffs inability to manage more complex and challenging behaviours. It is for this reason that we are currently delivering the ‘Complex Needs First Service’, as we feel that the service we deliver should be accessible to all individuals with multiplex Conditions.</p>

      <p>Our aim is to make a positive difference to the lives of the people we support, by providing a person-centred service. We will continually improve, through ongoing feedback and consultation provide a structured programme of creative, vocational, and life skills services tailored to the specific needs of the service-users, centred on essential social skills training.</p>

      <p>Our aims are:</p>
        <ul class="info">
          <li>Enable individuals to reach their goals and increase their independence</li>
          <li>Assess individuals needs and develop a service which is personalised to them</li>
          <li>Developing services in consultation with the people we support and their networks</li>
          <li>Recognising, respecting and promoting the rights of the people we support</li>
          <li>Recruiting, training and retaining a multi -disciplinary staff team</li>

        </ul>
		</div><!--/col-md-6-->

	</div><!--/row-fluid-->
</div><!--/container-->

<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="titleborder">
        <h4>Support Costs</h4>
      </div>
        <p>People assume that receiving a bespoke support service at home is beyond their financial means; however, as more information about financing care becomes available home support is becoming an option.</p>

        <p class="bold">Direct payments</p>

        <p>If you have been assessed as needing care services, you may be offered direct payments. As part of this arrangement, monetary payments will be made by your local council directly to you so that you are able to organise and pay for your care service. These payments are designed to support you to remain living at home, encourage independence and social inclusion in areas such as employment, education and leisure activities.</p>

        <p>The Government is looking to increase the number of people who receive direct payments.</p>

        <p>If you are considered eligible for support with funding a care package, your local council are duty bound to consider direct payments as an option for you, giving you control over the services that you employ.</p>
    </div>
  </div>
</div>

<!-- Contact Us Banner -->
<div class="container">
  <div class="row-fluid graysection text-center">
    <p class="strip"><span class="glyphicon glyphicon-envelope"></span> Have a Question? Then please get in touch via our <a href="/contact">Contact Form</a></p>
  </div>

</div><!--/container-->