<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<h1 class="bold">Contact Us</h1>
			<div class="headerdivider"></div>
		</div><!--/col-md-12-->

		<div class="col-md-6 mb20">
			<form id="contact-form" action="/contact" method="post">
       	
        <input id="inputName" class="form-control" type="text" placeholder="Enter Your Full Name" name="name" class="input-primary" required="true" /> 
        
        <input id="inputEmail" class="form-control" type="email" placeholder="Enter Your Email Address" name="email" class="input-primary" required="true" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"/>
       
        <textarea id="inputMessage" class="form-control" name="message"  rows="5" placeholder="Message" required="true"></textarea>
       
        <div class="hidden">
          <input name="ghost" type="text" class="inputGhost"/>
        </div>

        <input type="submit" class="btn btn-large btn-primary" value="Send Message"/>
      </form>
		</div><!--/col-md-6-->

		<div class="col-md-6">
			<div class="map_holder">
				<div id="map_canvas"></div>
			</div>
			<span class="glyphicon glyphicon-map-marker"></span> <i>Location</i> : 16a Pontmorlais, Merthyr Tydfil, CF47 8DP
			<p></p>
			<span class="glyphicon glyphicon-earphone"></span> <i>Telephone</i> : 01685 383107
			<p></p>
			<span class="glyphicon glyphicon-envelope"></span> <i>Email</i> : michelle@partnership-share.co.uk
		</div>

 </div><!--/row-fluid-->
</div><!--/container-->

<!-- Contact Us Banner -->
<div class="container">
  <div class="row-fluid graysection text-center">
    <p class="strip">We Look Forward To Hearing From You</p>
  </div>

</div><!--/container-->





<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA&sensor=false">
</script>

<script type="text/javascript">
  window.onload = function () {
          initialize();
      }
</script>

<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(51.743691, -3.378236),
          zoom: 13,
          scrollwheel: false,
          draggable: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
          title: 'Caritas'
        }); 
      }
</script>

<script type="text/javascript">
function validate(){
      if ($('#inputName').val().length   >   0   &&
          $('#inputEmail').val().length  >   0   &&
          $('#inputMessage').val().length  >   0) 
      {
          $("input[type=submit]").prop("disabled", false);
      }
      else {
        $("input[type=submit]").prop("disabled", true);
      }
  }

  $(document).ready(function() { 

    //Contact Form Button inative until all fields filled in
    validate();
    $('#inputName, #inputEmail, #inputMessage' ).change(validate);

    // Honey Trap
     $('.inputGhost').on('change', function() {
       $("input[type=submit]").prop('disabled', $(this).val().length > 0);
     });
   });
</script>
