<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<h1 class="bold">Specialist Domiciliary Care</h1>
			<div class="headerdivider"></div>

      <div class="titleborder">
        <div>Who We Support</div>
      </div>
    </div>
    

		<div class="col-md-12">
      <p>Our support is centred on individuals who have learning disabilities, physical disabilities, sensory impairment and mental illness.</p>

      <p>We are able to provide care for individuals with a range of care and support needs including:</p>
    	<ul class="info">
      	<li>Adults, Young People aged 18 +</li>
      	<li>Learning Disabilities</li>
      	<li>Challenging Behaviour</li>
      	<li>Behavioural and Emotional issues</li>
        <li>Down’s syndrome</li>
        <li>Epilepsy</li>
        <li>Multiple disabilities</li>
        <li>Autism Spectrum Conditions (ASC)</li>
        <li>Asperger Syndrome</li>
        <li>Fragile X Syndrome</li>
        <li>Early Onset Dementia</li>
        <li>Sensory Impairment</li>
        <li>Sensory and visual impairment</li>
        <li>Speech and language difficulties</li>
        <li>Mental Health</li>
        <li>Schizophrenia</li>
        <li>Self Harm</li>
        <li>Bi-Polar Disorder</li>
        <li>Dual Diagnosis</li>
    	</ul>
		</div><!--/col-md-12-->
  
	</div><!--/row-fluid-->
</div><!--/container-->

<!-- Contact Us Banner -->
<div class="container">
  <div class="row-fluid graysection text-center">
    <p class="strip"><span class="glyphicon glyphicon-envelope"></span> Have a Question? Then please get in touch via our <a href="contact">Contact Form</a></p>
  </div>

</div><!--/container-->