<!--FOOTER-->
<div class="footerbottom footerbottomdark">
	<div class="container">
  	<div class="row-fluid">
    	<div class="col-md-4 smallspacetop">
    		<p class="smaller"><span class="copyright"> </span>Copyright <a href="http://www.richlewis.co.uk" target="_blank">Richard Lewis</a> 2014</p>

    	</div>

    	<div class="col-md-8 smallspacetop">
    		<div class="pull-right smaller">
        	<ul class="footermenu">
          	<li><a href="/">Home</a></li>
          	<li><a href="/about_us">About Us</a></li>
          	<li><a href="/our_team">Our Team</a></li>
          	<li><a href="/contact">Contact Us</a></li>
        	</ul>
    		</div>

    	</div>

  	</div><!--/row-fluid-->
	</div><!--/container-->
</div><!--/footerbottom-->