<!--Slider Section-->
<div class="container">
	<div class="row-fluid">
   <div class="col-md-7">
   	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <%= image_tag(aws_asset("banner2.jpg"), width: '730px', alt: 'banner2') %>
        <div class="carousel-caption">
          
        </div>
    </div>

    <div class="item">
      <%= image_tag(aws_asset("banner1.jpg"), width: '730px', alt: 'banner1') %>
        <div class="carousel-caption">
          
        </div>
    </div>

    <div class="item">
      <%= image_tag(aws_asset("banner3.jpg"), width: '730px', alt: 'banner3') %>
        <div class="carousel-caption">
          
        </div>
    </div>

    <div class="item">
      <%= image_tag(aws_asset("banner4.jpg"), width: '730px', alt: 'banner4') %>
        <div class="carousel-caption">
          
        </div>
    </div>
   

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

   </div><!--/col-md-8-->

   <div class="col-md-5">
    <h4 class="bold">Share Partneriaeth Merthyr</h4>
   <p>Share Partneriaeth ‘Merthyr' Limited is a new, innovative, Specialist Autism Service, designed specifically to support adults with a Learning Disability, Challenging Behaviour, Fragile X, Autism and Asperger’s Syndrome, Early Onset Dementia, Mental Health and or associated complex conditions.</p>
   <a class="btn btn-warning" href="/about_us">Read More</a>


   </div>
	</div><!--/row-fluid-->
</div><!--/container-->

<!-- Services Section-->
<div class="container">
  <div class="row-fluid graysection">
    <div class="col-md-4 text-center">
      <div class="circle">
        <span class="glyphicon glyphicon-calendar"></span>
      </div>
      <h4>Domicliary Care</h4>
      <p>Support is centered on individuals who have learning disabilities, physical disabilities, sensory impairment.....</p>
      <p><a href="/domiciliary_care">Read More</a></p>
    </div>

    <div class="col-md-4 text-center">
      <div class="circle">
        <span class="glyphicon glyphicon-user"></span>
      </div>
        <h4>Person Centered Planning</h4>
        <p>We are committed to total quality concepts, and continual improvement throughout the organisation.</p>
        <p><a href="/person_centered_planning">Read More</a></p>
    </div>

    <div class="col-md-4 text-center">
      <div class="circle">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
        <h4>Training and Development</h4>
        <p>All Our Staff have, as a minimum qualification of QCF (NVQ) LEVEL 3 DIPLOMA IN HEALTH AND SOCIAL CARE</p>
        <p><a href="/our_team">Read More</a></p>
    </div>
  
  </div>
</div><!--/container-->

<!-- Quick Intro -->
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-6">
        <h1 class="bold">What is Domiciliary Care?</h1>
          <p>Domiciliary Care is a service that enables vulnerable adults, with a preference and in accordance with a Unified Assessment Process, to live in their own homes, or a home of their choice for as long as possible, by providing help with personal care and daily living tasks, whilst ensuring they maintain their independence and personal dignity.</p>
      </div>

      <div class="col-md-6 graysection">
      <blockquote>Domiciliary care is the provision personal care and support services to individuals in their own homes. The word “domiciliary” is taken from the Latin “domus” which means home.</blockquote>
      </div>

    </div><!--/row-fluid-->
  </div><!--/container-->

<!-- Contact Us Banner -->
<div class="container">
  <div class="row-fluid graysection text-center">
    <p class="strip"><span class="glyphicon glyphicon-envelope"></span> Have a Question? Then please get in touch via our <a href="/contact">Contact Form</a></p>
  </div>

</div><!--/container-->

