<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Share Partneriaeth ‘Merthyr' Limited is a new, innovative, Specialist Autism Service, designed specifically to support adults with a Learning Disability, Challenging Behaviour, Fragile X, Autism and Asperger’s Syndrome, Early Onset Dementia, Mental Health and or associated complex conditions." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Partnership Share - Merthyr Tydfil</title>
<link rel="shortcut icon" href="/assets/images/favicon.ico">

<% if settings.development? %>
  <!-- CSS Stylesheets -->
  <%= stylesheet_link_tag "/assets/css/bootstrap.css" %>
  <%= stylesheet_link_tag "/assets/css/custom.css" %>
  <%= stylesheet_link_tag "/assets/css/fonts.css" %>
  <!-- JS Stylesheets -->
  <%= javascript_script_tag "/assets/js/jquery-1.9.1.js" %>
  <%= javascript_script_tag "/assets/js/bootstrap.js" %>
  <%= javascript_script_tag "/assets/js/custom.js" %>
<% elsif settings.production? %>
  <%= stylesheet_link_tag "/assets/css/minified.css" %>
  <%= javascript_script_tag "/assets/js/minified.js" %>
<% end %>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51879729-1', 'partnership-share.co.uk');
  ga('send', 'pageview');

</script>
</head>

 <body class="boxed" id="top">
   <div class="body">
     <%= styled_flash %>
     <%= erb :nav %>
     <a href="#top" class="scrollup">Scroll</a>
	 <%= yield %>
     <%= erb :footer %>
   </div>
</body>
</html>