<header>
	<div class="container">
		<div class="row-fluid">
			<div class="col-md-4">
				<div id="logo">
         <a  href="/"><%= image_tag(aws_asset('psm.png'), alt: 'logo') %></a>
				</div>
      </div><!--/col-md-6-->

      <div class="col-md-8">
       <div id="headerInfo">
        <ul class="socialIcon">
          <!--<li class="facebook"></li>
          <li class="twitter"></li>-->
        </ul>
        <div class="telInfo">
          <p><span class="glyphicon glyphicon-earphone"></span> TEL: 01685 383107</p>
        </div><!--/telInfo-->
        <div class="addressInfo">
          <p>Share Partneriaeth 'Merthyr' Limited – Specialist Home Support Services.</p>
        </div>

       </div><!--/headerInfo-->
      </div><!--/md-col-6-->
    </div><!--/row-fluid-->
  </div><!--/container-->
				<div class="clearfix"></div>


        <div class="container">
          <div class="row-fluid">
				<!-- NAVIGATION -->
				<nav class="navbar navbar-default" role="navigation">
        	<!-- Brand and toggle get grouped for better mobile display -->
  					<div class="navbar-header">
    					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      					<span class="sr-only">Toggle navigation</span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
    					</button>
  					</div>

  					<!-- Collect the nav links, forms, and other content for toggling -->
  					<div class="collapse navbar-collapse" id="navbar-collapse">
    					<ul class="nav navbar-nav">
      					<li><a href="/">Home</a></li>
      					<li><a href="/about_us">About Us</a></li>
      						<li class="dropdown">
        						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Services <b class="caret"></b></a>
        							<ul class="dropdown-menu">
	          						<li><a href="/domiciliary_care">Specialist Domiciliary Care</a></li>
							          <li><a href="/person_centered_planning">Person Centered Planning</a></li>
                        <li><a href="/supported_living_services">Supported Living Services</a></li>
        							</ul>
      						</li>
      						<li><a href="/our_team">Our Team</a></li>
      						<li><a href="/contact">Contact Us</a></li>
    					</ul>
  					</div><!-- /.navbar-collapse -->
				</nav>
      </div><!--/row-fluid-->
      </div><!--/container-->


		
</header>

