<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<h1 class="bold">Our Staff Team</h1>
			<div class="headerdivider"></div>
    </div>
     

		<div class="col-md-6">
      <div class="titleborder">
        <h4>About The Team</h4>
      </div>
      <p>PartnerShip Share ‘Merthyr’ Limited’s Specialist Support Workers, with specific skills that are tailored to your complex care requirements, will support you to remain living in your own home. As a Specialist Provider of complex support services, we understand that having a lack of independence and choice how you live your own life can be extremely challenging and debilitating.</p>

      <p class="bold">To qualify to become a Member of our Staff Team, you must have;</p>

    	<ul class="info">
      	<li>strong Values</li>
      	<li>excellent communication and 'people' skills</li>
      	<li>the ability to relate to people of all ages and backgrounds and gain their trust and respect</li>
      	<li>a practical and flexible approach to work</li>
        <li>patience, empathy and understanding</li>
        <li>knowledge of the needs of different client groups</li>
        <li>a non-judgemental attitude</li>
        <li>the ability to work in a team and also use your own initiative</li>
        <li>the ability to assess situations and take appropriate action</li>
        <li>resilience, to cope with difficult situations </li>
        <li>good time management and organisation skills</li>
        <li>the ability to manage complex communication with families and organisations</li>
        <li>computer literacy and administration skills</li>
        <li>an understanding of the psychological impact of experiences</li>
        <li>an understanding of the effects of bereavement, change and loss</li>
        <li>A supportive attitude towards health and wellbeing, and education achievement.</li>
    	</ul>

      <p class="bold">All Our Staff have, as a minimum qualification of QCF (NVQ) LEVEL 3 DIPLOMA IN HEALTH AND SOCIAL CARE</p>

      <ul class="info">
        <li>The nationally recognised QCF (NVQ) Level 3 Diploma in Health and Social Care</li>
        <li>Qualification recognised by social care providers and the CSSIW</li>
        <li>The knowledge, skills and competence for working in social care settings</li>
        <li>A certificate from the awarding body</li>
      </ul>

      <p>This is the minimum qualification of competency required by the Care Social Services Inspectorate Wales, (CSSIW).</p>
      <p class="italic bold">Moving Towards</p>

      <p class="bold">QCF (NVQ) LEVEL 5 DIPLOMA IN LEADERSHIP FOR HEALTH AND SOCIAL CARE</p>
      <ul class="info">
        <li>Certification with a nationally recognised awarding body</li>
        <li>Access to a personal e-portfolio</li>
      </ul>

      <p class="bold">Nationally Recognised Qualification</p>
      <p>This is the new qualification recognised by the Care Quality Commission and the CSSIW and replaces:</p>
      <ul class="info">
        <li>Registered Managers Award</li>
        <li>NVQ Level 4 in Leadership and Management</li>
      </ul>
		</div><!--/col-md-6-->

		<div class="col-md-6">
      <div class="titleborder">
        <h4>Why do we need Training?</h4>
      </div>
      <p>Good quality training is a key means of enabling staff to develop the knowledge and skills required to deliver high quality, person-centred services to people to maximise their health, safety and well-being. There are specific areas of training that all our frontline staff must undertake to achieve this.   These are;</p>

      <ul class="info">
        <li>Food Hygiene/Nutrition and Hydration</li>
        <li>Safeguarding of Vulnerable Adults -SOVA (formally known as POVA)</li>
        <li>Responding to Accidents and Sudden Illness</li>
        <li>Fire Safety</li>
        <li>Moving & Handling</li>
        <li>Infection Prevention and Control</li>
        <li>Medication/Epilepsy</li>
      </ul>

      <p>The training Standards reflect current legal, policy and best practice requirements and are linked to Skills for Care Common Induction Standards. Once a staff member has completed their Induction, the Training Standards give guidance as to what additional training, if any, is required in each area.</p>

      <p>The training standards have been approved for use by our Management Team and are set-up for every new staff member, prior to taking up appointment and annually for staff in post.</p>

      <div class="titleborder">
        <h4>Training and Development</h4>
      </div>
      

      <p>PartnerShip Share ‘Merthyr’ limited, recognise that staff training and development is pivotal in providing the best care and support. Our staff teams are experienced and knowledgeable about the unique needs of people with complex needs.</p>

      <p>We are committed to providing our staff with a personal development plan right from their first day, with ongoing training and development. This covers the different communication tools we use, as well as improving their knowledge of specific conditions that affect our service users. </p>

      <p>Along with our mandatory training courses we require our staff to undertake training and have skills in the following areas:</p>

      <ul class="info">
        <li>Supporting Others through Volunteer Action (SOVA)</li>
        <li>Health support skills based on the individual</li>
        <li>Consistency and calmness</li>
        <li>Intensive interaction</li>
        <li>Total communication</li>
        <li>De-escalation approaches</li>
        <li>Analytical and negotiation capacities</li>
        <li>Patience and acceptance of differences</li>
        <li>Understanding and management of anxiety levels</li>
      </ul>
		</div><!--/col-md-6-->
	</div><!--/row-fluid-->
</div><!--/container-->

<div class="container">
  <div class="row-fluid">
     <div class="col-md-12">
      <div class="titleborder">
        <h4>Positive Behaviour Management</h4>
      </div>

      <p>As a specialised staff team we work with clients who present with challenging behaviour. Our staffs are trained in Positive Behaviour Management techniques, known as PBM.</p>

      <blockquote class="graysection">Positive Behaviour Management training (PBM) is non-aversive tried and tested BILD accredited training programme and is claimed to be one of the very few reactive strategy training approaches to have any supporting research into its effectiveness. PBM training focuses on the prevention of behavioural incidents, proactively working towards reducing the use of restrictive interventions. Following a gradient of support the training package also offers a menu of robust techniques to safely manage difficult situations if they occur. These techniques consist of breakaway moves and a limited number of restraint procedures, should they be required, all supported by underpinning knowledge and values stemming from evidence-based practice and empirical research. None of their procedures uses pain to achieve compliance and known high-risk holds are avoided.</blockquote>

      <p>The Department of Health's final report on Winterbourne View favours Positive Behavioural Support as a key support strategy for helping people with serious challenging behaviours.</p>

      <p>We use a Functional Behavioural Assessment, (PBM Plan) to identify factors that may act as a trigger for challenging behaviour, such as communication difficulties, recent life events or changes to the individual’s environment. The aim of the plan is to:</p>

      <ul class="info">
        <li>provide a clear description of behaviours and of sequences of behaviours that typically occur together</li>
        <li>identify under what conditions behaviours are likely to occur/not occur</li>
        <li>Establish what benefit behaviours give to the individual and what maintains them.</li>
      </ul>

      <p>We work as part of a multi-disciplinary team to share information, and collect data using clinical assessment tools including interviews with people who may have experience working with or knowledge of the individual and through analysts observing their everyday life and interactions, possibly family, carers, day services, school and other support services.</p>

      <p>It enables us to implement proactive strategies to maximise quality of life and opportunities for the individual, establishing consistent, support approaches, that complement the individual reducing the potential for challenging behaviour or placement breakdown. As part of and alongside its work with individuals, the objective of the PBM is to:</p>

      <ul class="info">
        <li>work collaboratively on assessments, with service providers, family, NHS Behavioural Support Services and key stakeholders involved in supporting the individual</li>
        <li>develop long-term intervention strategies and behaviour support plans</li>
        <li>run training workshops on subjects including challenging behaviour, autism spectrum disorder and positive behaviour support</li>
        <li>review and evaluate the effectiveness of interventions and behaviour support plans</li>
        <li>Offering active modelling and coaching in positive behaviour approaches within services.</li>
      </ul>

      <p class="bold">We train with and are members of BILD.</p>
       
       <div class="center">
        <%= image_tag(aws_asset("bild.png"), alt: 'bild') %>
        <%= image_tag(aws_asset("bild2.png"), alt: 'bild2') %>
      </div>
    
        <p class="italic">Skills for Care commissioned the guidance from the National Development Team for Inclusion have published the guidance as part of the government’s programme to improve support for adults with learning disabilities or autism and behaviour that challenges services in the wake of the Winterbourne View scandal. Service users at Winterbourne View were subject to inappropriate, punitive and excessive use of restraint, contrary to good practice in supporting adults with ‘challenging behaviour’ or ‘positive, which emphasises identifying and addressing the causes of the behaviour, person-centred support and using appropriate physical interventions as a last resort.</p>

    </div><!--/col-md-12-->
  </div>
</div>

<!-- Contact Us Banner -->
<div class="container">
  <div class="row-fluid graysection text-center">
    <p class="strip"><span class="glyphicon glyphicon-envelope"></span> Have a Question? Then please get in touch via our <a href="/contact">Contact Form</a></p>
  </div>

</div><!--/container-->