<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<h1 class="bold">Person Centered Planning</h1>
			<div class="headerdivider"></div>
        </div><!--/col-md-12-->

        <div class="col-md-12">
        	<div class="titleborder">
        		<h4>Why Choose Us?</h4>
      		</div>
      		<p>To ensure our services are of the highest quality they are 'Person Centred' and 'Outcome based'. To effectively meet the needs of our service-user’s, we will co-ordinate individual service plans for each service-user, designed by a suitably qualified worker.</p>

      		<p>Services will be delivered by directly employed social care staffs that are appropriately qualified, trained, supervised and are fully compliant with current social care practice and standards.</p>

      		<p>We are committed to total quality concepts, and continual improvement throughout the organisation. Our Management Team are committed to continuous professional development for all staff, staffs undertake regular programmes of training, and recieve supervision and a bi-annual appraisal.</p>

      		<p>In partnership with you and associated others, we will help you to engage in a detailed person-centred service plan, which will reflect strengths and needs in line with your Unified Assessment, which will identify all of care & your support needs.</p>
          <p>We regularly review our service Delivery Plans to ensure that we continuously adapt our service to meet your changing needs and preferences.</p>

      		<p>Our service is designed to support you to live as independently as possible and empowering you to have choice and control over your life. We adopt a partnership approach, working closely with you and your family and other social and healthcare professionals involved in your care, to ensure that a consistent approach is adopted.</p>

      		<p>Home support should promote and develop the independence of service users by encouraging individuals to do as much as possible for themselves. There is an active move towards ‘personalisation’, which gives greater choice and control to the individual regarding their care and support needs, rather than the prescriptive method of homecare, where specific duties are undertaken by care workers at specific times and not in line with your assessed need.</p>

      		<p class="bold">Specialist Staff</p>
      		<p>Domiciliary care agencies are required to follow stringent procedures when recruiting staff and must provide appropriate training to ensure that staff can deliver support safely and effectively. We as a domiciliary care & support agency are inspected, monitored and regulated by the following regulatory body;</p>

      		<p class="bold">Care & Social Services Inspectorate Wales (CSSIW)</p>

      		<p>We also undertake our own quality assurance checks using methods such as staff supervision and appraisal, spot checks, training assessments, client satisfaction questionnaires, complaints and compliments, client forums, staff surveys, team meetings and feedback from other Health & Social Care professionals.</p>



				</div><!--/col-md-12-->
    </div><!--/row-fluid-->
</div><!--/container-->

<!-- Contact Us Banner -->
<div class="container">
  <div class="row-fluid graysection text-center">
    <p class="strip"><span class="glyphicon glyphicon-envelope"></span> Have a Question? Then please get in touch via our <a href="/contact">Contact Form</a></p>
  </div>

</div><!--/container-->