<div class="container">
	<div class="row-fluid">
		<div class="col-md-12">
			<h1 class="bold">Supported Living Services</h1>
			<div class="headerdivider"></div>
     </div><!--/col-md-12-->
     

		<div class="col-md-6">
      <div class="titleborder">
        <h4>What We offer</h4>
      </div>
      <p>Our 'Supported Living Services' consist of a broad range of services to adults 18+ with learning and physical disabilities, challenging behaviour, fragile x, autism, asperger's syndrome and associated complex conditions, sensory impairment and mental ill health that choose to live in their own home in the community. We focus on 'Individual Based Outcomes' to allow individuals to grow and develop. Outcomes focus takes into consideration:</p>

    	<ul class="info">
      	<li>Personal Dignity.</li>
      	<li>Having choice and control over decision making.</li>
      	<li>Feeling Valued and Making a Positive Contribution to yourself and others.</li>
      	<li>Freedom from discrimination and harassment.</li>
        <li>Education and employment opportunities</li>
        <li>Social and Leisure opportunities</li>
        <li>Financial Security</li>
        <li>Suitable Accommodation</li>
        <li>Relationships</li>
    	</ul>

      <p class="bold">We Offer Specialist Support Services to clients with;</p>
      <p class="italic">Aspergers Syndrome, Autism Spectrum, Early Onset Dimentia</p>

      <p>We understand that individuals with Asperger’s Syndrome have difficulties with social interation and communication, they require routine, and a consistent structure is of paramount importance in their daily plan.</p>

      <p>Individuals with Asperger’s Syndrome are on times more vulnerable, their disability is less obvious than someone with an Autistic Spectrum Disorder. With this in mind, we ensure that the support we provide enables the individual to live a full and active life, take control of their decision making, encourage self confidence, reassurance, develop listeing skills, promote self esteem,  while keeping them safe and healthy.</p>

      <p>Some positive traits associated with Asperger’s Syndrome are honesty, reliability, dedication and determination, and we work with people to ensure that these qualities are positively reinforced and that they are always at the fore front of any decision affecting choice. We empower our service-users not de-skill them.</p>

      <p>Individuals with Autism or Aspergers need an established system for dealing with delays and changes in routine. Our staff team are qualified to support the Service User through transitional worries during the day, or leading up to a new task or activity. By understanding the reasons behind an individual’s actions, and developing our knowledge of what is important to them, we can help service users overcome their frustration and fear when they are unable to express what they want.</p>

      <p>We empower individuals to access eduacation, training and employment opportunities, gain social skills necessary for social inclusion and develop confidence through structured routines and with activities planned in advance avoiding stress and anxiety.</p>

      <p>We anticipate potential triggers in social situations and work with the individual to develop practical coping strategies, as well as relaxation and de-escalation techniques to reduce anxiety levels. Our staff are trained to provide clear, concise verbal and non-verbal communication through photos, flash cards, social stories and the Picture Exchange Communication System (PECS). These systems have been tried and tested and will help to avoid confusion and raised levels of anxiety.</p>

      <p class="bold">Early Onset Dementia</p>

      <p>We understand that people with dementia typically experience problems with memory, with their necessary skills for everyday living becoming substantially impaired as the condition progresses. We have a team that work with service users to maintain their existing skills, as far as possible and offer reassurance and support.</p>

      <p>Our services are focused around the individual by listening to them and understanding what is important to them. We can then use this information to create a tailored person-centred dementia plan for each individual.</p>

      <p>Our staff are highly skilled at supporting individuals with dementia through to end of life care, and empower them to make their own choices and take control. As a result, the service users can live the lives they choose and achieve their goals. Our role is to manage the risks associated with the choices they make to achieve positive outcomes.</p>

      <p>Individuals with dementia often respond well to routines, as they provide a sense of meaning and security. We use different communication tools i.e  visual clues,  stimulatory activities, both which are designed to meet the communication needs which are being and continually adapted in response to their changing needs. In the later stages of dementia, we work with individuals to stimulate their sense of taste, touch and smell. We are committed to supporting individuals with dementia and encourage them to live full, active and independent lives providing support to the service-user, their family or carer as far as possible.</p>
		</div><!--/col-md-6-->

		<div class="col-md-6">
      <div class="titleborder">
        <h4>Specific Needs</h4>
      </div>

      <p class="bold">Working Together</p>

      <p>We believe that in order to support individuals with complex care needs we must listen to what they tell us, and how they want to be supported. It is also of paramount importance  to work in partnership with other associated professionals and people that know now the person well. We believe that in order to support people successfully we must:</p>

      <ul class="info">
        <li>Ensure integrated working practices</li>
        <li>Share information with professionals to improve support</li>
      </ul>

      <p>As a specialist provider, we work with in partnership with Speech and Language Teams, Communication Facilitators, Psychologists, Employment Advisers, Advocates and Health Professionals. This ensures we have the best practical advice to support the person and that the decisions made are in their best interest.</p>

      <p class="bold">Our Success</p>

      <p>A major challenge for care managers and purchasers of services are suitable services for individuals with complex or challenging support needs. There is a lack of ‘specialist’ effective, efficient and equitable services for people with a learning disability who present with challenging behaviours and/or mental health diagnosis, (dual diagnosis).</p>

      <p>There is an extensive international research base current and going back 30 years or more, indicating that challenging behaviour in people with a learning disability represents one of the greatest challenges to community care. The more recent, though expanding, evidence base research project has indicated that a mental health problem among the learning disabled population (as a dominant presenting feature, or co-morbidly with challenging behaviour) is also a major challenge.</p>

      <p>Individuals with challenging behaviours and or mental health difficulties can create many challenges for their family, carer, support networks, social worker and other associated parties and are recognised as those who are most frequently hospitalised for treatment and assessment.</p>
 
      <p class="bold">Supported living services for individuals with Learning Disabilities</p>

      <p>We are committed to empowering individuals with Learning Disabilities and associated conditions by enabling them to develop daily living skills and relationships, as well as increasing their confidence. Our model makes it possible for people to transition through the different levels of service we offer towards increased independence.</p>

      <p>Through individually tailored packages of care and support, service users can learn the skills required to move to more independent living and eventually to their own home, where they can be supported by our outreach services.</p>

      <p>Our services are focused around the person, enabling them to make their own choices and live the lives they choose.</p>

      <p>Individuals are assisted in positive risk taking, so they actively increase their confidence and move towards their goals in small, achievable milestones. We encourage individuals to take part in community activities, leisure, hobbies and interets and enable them to gain skills to access employment or work experience, research educational opportunities and promote social inclusion.</p>

      <p>We use a range of communication tools, so that we are able to communicate with an individual, even if they have speech, language or sensory difficulties. Our staff are able to communicate using use Makaton, British Sign Language, Pecs and touch therapy.</p>

      <p>We provide services for supported living accommodation, outreach support, home support, community, social activities/inclusion and within a residential care environment.</p>

      <p>Our service designs a bespoke service plan for each individual, in partnership with the service-user and associated others. We work towards a planned progression pathway. This helps service users gain the skills required for daily living in order for them to move towards increased independence and minimum support.</p>

      <p>As a result, we enable people to improve the quality of their lives and make positive changes in areas that are important to them.</p>
    

			


		</div><!--/col-md-6-->
	</div><!--/row-fluid-->
</div><!--/container-->

<!-- Contact Us Banner -->
<div class="container">
  <div class="row-fluid graysection text-center">
    <p class="strip"><span class="glyphicon glyphicon-envelope"></span> Have a Question? Then please get in touch via our <a href="/contact">Contact Form</a></p>
  </div>

</div><!--/container-->