
#flash {
   width:100%;
   text-align:center;
   position: absolute;
   z-index:1031;
}

.notice {
  color: #fff;
  font-size: 1.4em;
  background:#468847;
  border-color: #d6e9c6;
  padding:10px;
}

/* GENERIC */
body.boxed {	
	background-color:#F0EFE4;
    margin:15px auto;
}

body.boxed div.body {
	-moz-box-shadow:0 0 14px rgba(0,0,0,0.15);
	-webkit-box-shadow:0 0 14px rgba(0,0,0,0.15);
	box-shadow:0 0 14px rgba(0,0,0,0.15);
	background-color:#FFFFFF;
	font-size:13px;
	margin:0px auto;
	max-width:100%;
	width:1170px;
	color:#555;
	line-height:24px;
	z-index:0;
	position:relative;
	border-top:5px solid #F0B70C;
	font-family:'open_sansregular';
}

h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-weight: 200;
}

h1.bold {
	font-family:'open_sansbold';
	font-size: 22px;
    line-height: 28px;
    text-transform: uppercase
}

h4.belowTitle{
	font-size: 16px;
    line-height: 0.5;
    margin-top: 20px;
    color: #303030;
    font-weight: 200
}

.bold {
	color:#333;
	font-weight:600;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
	padding-bottom:10px;
}

.titleborder {
    border-bottom: medium double #F6F6F6;
    margin-bottom: 30px;
    position: relative;
}

.titleborder div {
    background-color: #FFFFFF;
    display: inline-block;
    padding: 1px 12px;
    position: relative;
}

.titleborder div {
    color: #444444;
    font-family: 'open_sansbold';
    font-size: 18px;
    padding-left: 0 !important;
    text-transform: uppercase;
    top: 14px;
}

.titleborder h4 {
	background-color: #FFFFFF;
    display: inline-block;
    padding: 1px 12px;
    position: relative;
    padding-left: 0 !important;
    top: 21px;
    margin-top:0px;
}



ul.info {
	padding-left:15px;
	line-height:28px;
}

/* Google Maps */

.map_holder {
	width:98.2%;
	background: none repeat scroll 0 0 white;
    border: 1px solid #EEEEEE;
    margin-bottom: 15px;
    padding: 4px;
}

#map_canvas { 
    width:100%;
    height:240px;
    
}

/* BANNERS */

.strip{
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin:10px auto;
    font-family: 'open_sanslight';
    color:#444;
}

/* SERVICES HOME */

.graysection {
	border-top:1px solid #f3f3f3;
	border-bottom:1px solid #f3f3f3;
	padding-bottom:25px;
	padding-top:25px;
	overflow:hidden;
	margin-top:30px;
	margin-bottom:30px;
	background:#f9f9f9;
	margin-left:-15px;
	margin-right:-15px;
}

span.glyphicon-user, span.glyphicon-pencil, span.glyphicon-calendar {
	font-size:3em;
	line-height:80px;

}

.strip span.glyphicon-envelope {
    display: inline-block;
    font-size: 1.5em;
    top: 7px;
}

.circle {
	width:80px;
	height:80px;
	line-height:80px;
	display:inline-block;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	border-radius:75px;
	background-color:#F0B70C;
	color:#fff;
	text-align:center;
	margin-bottom:5px;

}

.headerdivider {
	background:url("/assets/images/dots.gif") repeat;
	height:7px;
	margin-bottom:20px;
	opacity:0.4;
}
/* Social Icons and Info In Header */

#logo {
	float:left;
	font-size:0px;
	font-weight:0;
	margin:36px 0 0;
	padding:0;
	text-shadow:none;
	display:inline-block;
}

#headerInfo {
	float:right;
}

.telInfo {
	text-align:right;
	font-size:16px;
	line-height:26px;
	color:#333333;
	text-transform:uppercase;
	padding-bottom:4px;
}

.addressInfo {
	text-align:right;
	color:#333;
	font-size:12px;
	line-height:16px;
	text-transform: uppercase;
}

.socialIcon {
	list-style-type: none;
	margin-top:15px;
	margin-bottom:5px;
	text-align:right;
	
}

.socialIcon li {
	display:inline-block;
	margin-right:5px;
}
.socialIcon li.facebook{
	background: url('/assets/images/facebook.png');
	width:24px;
	height:24px;
}

.socialIcon li.twitter{
	background: url('/assets/images/twitter.png');
	width:24px;
	height:24px;
}

/* FOOTER */

.footerbottom {
	color:#fff;
	line-height:2.0;
	background:#333;
	border-top:1px solid #444;
}
.footerbottom a {
	color:#fff;
}
ul.footermenu {
	list-style:none;
}
ul.footermenu li {
	float:left;
	margin-left:5px;
	margin-right:5px;
	text-transform:uppercase;
	line-height:2.5;
}

.footermenu li:before {
	content:'|';
	color:#777;
	display:inline-block;
	margin-right:7px;
}
.footermenu li:nth-child(1):before {
	display:none;
}
.footerdark {
	background:#222;
	color:#ccc;
	margin-top:65px;
	line-height:1.6;
}

.smallspacetop {
	margin-top:7px;
	padding-top:5px;
	padding-bottom:5px;
}

.smaller {
	font-size:80%;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:4%;
    display: none;
    text-indent:-9999px;
    z-index:2000;
    background: url('/assets/images/icon_top.png') no-repeat;
}

.center img {
	max-width:100%;
}



/* MEDIA QUERIES */

@media (max-width: 980px) {
	.mb20 {
    	margin-bottom:20px;
    }
}

@media (max-width: 480px) {

	.carousel{
		display:none;
	}

	#logo {
		display: block;
		float:none;
		text-align: center;
		margin:5px 0px 0px;
	}

	.socialIcon {
		padding-left:0px;
		text-align: center;
	}

	.telInfo, .addressInfo {
		text-align: center;
	}

	ul.footermenu {
		float:none;
		padding-left: 0px;
	}

	ul.footermenu li {
		margin-left:4px;
		margin-right:2px;
	}

	ul.footermenu li:before {
		margin-right:5px;
	}

	.smaller {
		text-align: center;
	}

	.smallspacetop {
    margin-top: 5px;
    padding-bottom: 0;
    padding-top: 0;
    }


}